@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">UD aaaAkademisss</h1>
    <p>
<a class="btn btn-primary" href="/course/apply">Apply</a>


    </p>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
